<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowthyApplication"
        tools:targetApi="31">



        <activity
            android:name=".PlantInfomationActivity"
            android:exported="false"/>

        <activity
            android:name=".CultivationActivity"
            android:exported="false"/>

        <activity
            android:name=".PlantSearchActivity"
            android:exported="true"/>

        <activity
            android:name=".ui.MiniTourActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.financial.PengeluaranAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.financial.PemasukanAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.financial.FinancialActivity"
            android:exported="false"
            android:theme="@style/Theme.GrowthyApplication.BackgroundImageStyle">

        </activity>
        <activity
            android:name=".ui.home.deteksi.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.deteksi.HealActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.deteksi.PredictionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.deteksi.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.deteksi.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>